---
import Layout from '../layouts/Layout.astro'
import Nav from '../components/Nav.astro'
import Hero from '../components/Hero.astro'
import Featured from '../components/Featured.astro'
import Highlighted from '../components/Highlighted.astro'
---

<Layout title="Welcome to Arise ALP">
  <main class="content-grid">
    <Nav />
    <Hero />
    <Featured />
    <Featured />
    <Highlighted />
  </main>
</Layout>
