---
import { Image } from 'astro:assets'
import featuredImage from '../media/featured-image.jpg'

import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
const content = renderRichText(blok.content)
---

<section class="featured" {...storyblokEditable(blok)}>
  <Image src={featuredImage} alt="Inclusive education in action." />
  <div>
    <header>
      <p class="subheading">{blok.sub_heading}</p>
      <h2>{blok.heading}</h2>
    </header>
    <Fragment set:html={content} />
  </div>
</section>

<style>
  section {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    gap: 30px;
    align-items: center;
    img {
      object-fit: cover;
    }
  }
</style>
