---
const { menuItems, id: idName, ...rest } = Astro.props
---

<ul id={idName} {...rest}>
  {
    menuItems.map((item) => (
      <li>
        <a href={`/${item.link.story.url}`}>{item.link.story.name}</a>
      </li>
    ))
  }
</ul>
