---
import { Image } from 'astro:assets'

import logo from '../media/arise-logo.png'
// const currentPath = Astro.url.pathname

import { useStoryblokApi } from '@storyblok/astro'
const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get('cdn/stories/config', {
  version: 'draft',
  resolve_links: 'url'
})
const headerMenu = data?.story?.content?.header_menu
---

<div class="nav-bar" class="full-width">
  <div>
    <Image src={logo} alt="Arise ALP logo" />
  </div>
  <nav>
    <ul>
      {
        headerMenu.map((menu) => (
          <li>
            <a href={`/${menu.link.cached_url}`} class="hover:text-[#50b0ae]">
              {menu.link.story.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</div>
<style>
  .nav-bar {
    position: fixed;
    top: 30px;
    right: 0;
    left: 0;
    padding: 0 10px;
    display: flex;
    margin-inline: auto;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1170px;
    z-index: 10;
  }
  nav {
    background-color: #fff;
    border-radius: var(--border-rad);
    display: inline-flex;
    box-shadow: var(--drop-shadow);
    z-index: 9;
    margin-left: auto;
  }
  ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    padding: 3px;
    margin: 0;
    gap: 3px;
    margin-left: auto;
  }
  a {
    padding: 15px 25px;
    border-radius: var(--border-rad);
    display: inline-block;
    transition: ease-in-out 0.22s all;
    font-size: 1.125rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--text-color);
    &:hover {
      background-color: rgba(32, 87, 224, 0.05);
    }
    &.current {
      background-color: var(--blue);
      color: #fff;
    }
  }
</style>
