---
import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
const content = renderRichText(blok.content)
---

<section {...storyblokEditable(blok)} class="content-grid">
  <div>
    <Fragment set:html={content} />
  </div>
</section>
