---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro"
import { renderRichTextRenderer } from "../utils/richTextRenderer"

const { blok } = Astro.props
const storyblokApi = useStoryblokApi()

const content = renderRichTextRenderer(blok.content)
---

<section {...storyblokEditable(blok)} class="content-grid">
  <div>
    <Fragment set:html={content} />
  </div>
</section>

<style>
  section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
</style>
