---
import { storyblokEditable, useStoryblokApi } from "@storyblok/astro"
import NewsCard from "../News/NewsCard.astro"
import Update from "../News/Update.astro"
const { blok } = Astro.props

const storyblokApi = useStoryblokApi()
const { data } = await storyblokApi.get(`cdn/stories`, {
  version: "draft", // or 'published'
  starts_with: "news-updates/",
  is_startpage: 0
})

const allNews = data.stories
const news = allNews.filter((article) => article.content.component === "news")
const updates = allNews.filter(
  (article) => article.content.component === "update"
)
---

<section {...storyblokEditable(blok)}>
  {updates?.length && <h2 class="updates-title">Updates</h2>}
  <ul>
    {
      updates?.length &&
        updates.map((article) => {
          article.content.slug = article.slug
          return (
            <li>
              <Update article={article} />
            </li>
          )
        })
    }
  </ul>
  {news?.length && <h2 class="updates-title">News</h2>}
  <ul class="news-list">
    {
      news?.length &&
        news.map((article) => {
          article.content.slug = article.slug
          return (
            <li>
              <NewsCard article={article} />
            </li>
          )
        })
    }
  </ul>
</section>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .news-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    @media (max-width: 34.375rem) {
      grid-template-columns: 1fr;
    }
  }
  .updates-title {
    border-left: 1px solid var(--light-gray);
    padding-left: 1rem;
    color: var(--blue);
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 30px;
  }
</style>
