---
import { storyblokEditable, renderRichText } from "@storyblok/astro"
// const { blok } = Astro.props
const { article } = Astro.props

// Add defensive checks
if (!article || !article.content) {
  return null
}

const { date, title, image } = article.content

const renderedRichText = renderRichText(article?.content?.content)
---

<article>
  <!-- {JSON.stringify(article)} -->
  <time class="published-date">
    Posted on <span>
      {
        date
          ? new Date(date).toLocaleDateString("en-GB", {
              day: "numeric",
              month: "long",
              year: "numeric"
            })
          : ""
      }
    </span>
  </time>
  <div class="content-wrapper">
    <h3>{title || ""}</h3>
    <div class="content" set:html={renderedRichText} />
  </div>
  {
    image && (
      <div class="image-wrapper">
        <img
          src={`${image.filename}/m/238x100/filters:format(webp)`}
          alt={image.alt || ""}
        />
      </div>
    )
  }
</article>

<style>
  article {
    display: grid;
    grid: auto / 1fr 2fr 1fr;
    grid-template-areas: "date content image";
    margin-bottom: 2rem;
    @media (max-width: 34.375rem) {
      grid-template-columns: 1fr;
      grid-template-areas: "date" "image" "content";
      row-gap: 1rem;
    }
  }
  .content-wrapper {
    grid-area: content;
    border-left: 1px solid var(--light-gray);
    padding-left: 1rem;
    padding-right: 4rem;
    @media (max-width: 34.375rem) {
      padding-right: 0;
    }
  }
  .published-date {
    grid-area: date;
    border-left: 1px solid var(--light-gray);
    padding-left: 1rem;
    span {
      display: block;
      @media (max-width: 34.375rem) {
        display: inline;
      }
    }
  }
  .image-wrapper {
    grid-area: image;
    border-left: 1px solid var(--light-gray);
    padding-left: 1rem;
  }
  img {
    border-radius: var(--border-rad-sm);
  }
</style>
